.layout{
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    .Content{
        height: 94vh;
        margin: 10px;
        .content-view{
            height: 90%;
            width: 100%;
            background: #fff;
        }
    }
    .header{
        background-color: #a080b3;
        .title{
            margin-left: 12px;
            font-size: 20px;
            font-weight: 900;
        }
        .colseIcon{
            margin: 0 20px
        }
    }
    .sider{
        height: 96vh;
        background-color: #fff;
        .menu{
            background-color: #fff;
        }
    }
}
.menu-icon{
    transition: all .3s;
}
.rotate-icon{
    transform: rotate(-90deg);
}
.menu-item span{
    display: inline-block;
    overflow: hidden;
    width: 69px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    transition: width .2s ease .2s;
}
.menu-item i{
    transform: translateX(0px);
    transition: font-size .2s ease, transform .2s ease;
    vertical-align: middle;
    font-size: 16px;
}
.collapsed-menu span{
    width: 0px;
    transition: width .2s ease;
}
.collapsed-menu i{
    transform: translateX(5px);
    transition: font-size .2s ease .2s, transform .2s ease .2s;
    vertical-align: middle;
    font-size: 22px;
}
